<?xml version="1.0" encoding="utf-8" ?> 
<appSettings>
  <add key="Blaster" value="Blaster" />
  <add key="Nirvana" value="Nirvana" />
  <add key="Seraph" value="Seraph" />
  <add key="Bastion" value="Bastion" />
  <add key="Magnolia" value="Magnolia" />
  <add key="Bruce" value="Bruce" />
  <add key="Kairi" value="Kairi" />
  <add key="Alestiel" value="Alestiel" />
  <add key="Earnescorrect" value="Earnescorrect" />
  <add key="Clarissa" value="Clarissa" />
  <add key="Wilista" value="Wilista" />
  <add key="Astesice" value="Astesice" />
  <add key="Feltyrosa" value="Feltyrosa" />
</appSettings>