<?xml version="1.0" encoding="utf-8" ?> 
<appSettings>
  <add key="Blaster" value="Blaster" />
  <add key="Nirvana" value="Nirvana" />
  <add key="Seraph" value="Seraph" />
  <add key="Bastion" value="Bastion" />
  <add key="Magnolia" value="Magnolia" />
  <add key="Bruce" value="Bruce" />
  <add key="Kairi" value="Kairi" />
  <add key="Alestiel" value="Alestiel" />
  <add key="Earnescorrect" value="Earnescorrect" />
  <add key="Clarissa" value="Clarissa" />
  <add key="Wilista" value="Wilista" />
  <add key="Astesice" value="Astesice" />
  <add key="Feltyrosa" value="Feltyrosa" />
  <add key="Ririmi" value="Ririmi" />
  <add key="Rarami" value="Rarami" />
  <add key="Tamayura" value="Tamayura" />
  <add key="Stealth" value="Stealth" />
  <add key="Rorowa" value="Rorowa" />
  <add key="Radylina" value="Radylina" />
  <add key="Kheios" value="Kheios" />
  <add key="Overlord" value="Overlord" />
  <add key="Thegrea" value="Thegrea" />
  <add key="Maple" value="Maple" />
</appSettings>